.auth-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    height: 93vh;
    width: 100%;
}

.auth-form {
    width: 30%;
    justify-content: center;
    background-color: #fff;
    padding: 1.7%;
    /* padding-right: 17%; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.auth-form h2{
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    /* margin-right: 1.7%; */
    width: 95.3%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-group {
    text-align: center;
}

.button-group button {
    padding: 10px;
    background-color: #003522;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button-group button:hover {
    background-color: #009688;
}

.toggle-form {
    margin-top: 10px;
    cursor: pointer;
    color: #003522;
    transition: color 0.3s ease-in-out;
}

.toggle-form:hover {
    color: #009688;
}

.error {
    color: red;
}

.success {
    color: green;
}



@media (max-width: 700px) {
    
.auth-form {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.input-group input {
    /* margin-right: 1.7%; */
    width: 94.3%;
}
.auth-form h2{
    font-size: 5vh;
    margin-top: -5vh;
}
}