.Section3 {
  padding: 20px;
  height: 93vh;
  background-color: #f7f7f7;
}

.Section3 h1 {
  margin-top: 5vh;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.section3-cards {
  margin-top: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.discover-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.discover-more svg {
  width: 66px;
  height: 66px;
}

.discover-more h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #333;
}

